@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Carrois Gothic SC', sans-serif;
}

h2, h3{
    font-weight: bold;
}

ul, ol {
    line-height: 115%;
}

:root {
    --md-text-font: "Gentium Book Plus";
    --md-admonition-icon--governance: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>code-array</title><path d="M3,5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5M6,6V18H10V16H8V8H10V6H6M16,16H14V18H18V6H14V8H16V16Z" /></svg>')
    }
    .md-typeset .admonition.governance,
    .md-typeset details.governance {
      border-color: rgb(80, 80, 160);
      font-family: 'Funnel Display', serif;
      font-weight: bold;
      font-size: 0.75rem;
    }
    .md-typeset .governance > .admonition-title,
    .md-typeset .governance > summary {
      background-color: rgba(80, 80, 160, 0.1);
    }
    .md-typeset .governance > .admonition-title::before,
    .md-typeset .governance > summary::before {
      background-color: rgb(80, 80, 160);
      -webkit-mask-image: var(--md-admonition-icon--governance);
              mask-image: var(--md-admonition-icon--governance);
}

.md-header__topic {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 2rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.5rem;
}

.md-header__button.md-logo {
    margin: .1rem;
    padding: .2rem;
}

body {
    background-image: url('https://ratseerofrattesse.github.io/assets/img/misc/wildberries.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}